@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Noto Sans KR';
}

.container {
  min-width: 360px;
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.work-keep-all {
  word-wrap: break-word;
  word-break: keep-all;
}